*{
    margin: 0;
    padding: 0;
}
.container{
    border: 3px solid#23ADF3;
    box-shadow: gray100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 40px;
    padding: 20px;
}
.instruction{
    font-size:25px;
    padding: 30px;
}
.welcome{
    color: #23ADF3;
    padding: 30px;
}
h2{
    padding: 20px;
    color: red;
}
button{
height: 35px;
width: 100px;
background-color:rgb(54, 68, 75);
border-radius: 10px;

}
button a{
color: white;
text-decoration: none;
text-transform: uppercase;
font-size: 15px

}

/* editQuestionsPage */
.edit{



}
#list{
    /* background-color: red; */
    color: red;
/* border: 2px solid green; */


}
.mainDiv{
border: 2px solid green;
margin: 20px 0;
display:flex;
justify-content: space-between;
align-items: center;

}

span{
    /* display: block; */
}

body{
/* border: 1px solid white; */
height: 50vh;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
}

.questionAns{
    display: flex;
    flex-direction: column;
}

i{
    margin: 0 6px;z
}